.top_contents{
width:100vw;
height:100vh;
background-color: #CCC;
text-align: center;
vertical-align: middle
}
.contents-ttl{
	padding:0 0 30px;
}
.top_links{
	margin: 50px 0px;
}
.top_links .row{
	margin:0 auto;
}
.top_link a{
	padding:20% 0;
	display: block;
	border: 1px solid #ccc
}