.map_wrapp{
width:100%;
padding-top: 50%;
position: relative;
}

#map {
width:100%;
height:100%;
position: absolute;
left:0;
top:0;
}
.sort_display{
  position: absolute;
  right:10px;
  top:10px;
  background-color: #000;
  border-radius: 0;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  padding:5px 30px;
  color: #FFF;
}
.sort_outer{
  position: absolute;
width:100%;
height:100%;
  background-color:rgba(225,225,225,.8);
  z-index: 1;
  top: 0;
  display: none;
}
.sort_outer.on{
  display: block;
}
.sort{
  display: inline-block;
  padding:30px;
  width: 260px;
  height: 211px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #FFF;
}
.sort_option_ttl{
  font-size: 14px
}
.sort_select{
  margin-top: 5px;
  display: block;
  height: 30px;
  background-color: #FFF;
  padding:0 0 0 20px;
  border-radius:0;
  width:200px;
  border: 1px solid #000;
}
.sort_btn{
  background-color: #000;
  padding:10px 0;
  width:200px;
  text-align: center;
  color: #FFF;
  margin-top: 30px;
}